# Opción 1: Para pruebas móviles (Descomenta esta línea y comenta la de abajo. OJO: Si cambias de Wi-Fi, tu IP cambiará)
# NEXT_PUBLIC_API_URL=http://10.85.9.220:3001

# Opción 2: Para desarrollo solo en la computadora local (Siempre funcionará)
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://kaphy-server.duckdns.org/webhook/604bc9ed-708e-4af8-84ef-c6356a060ee7
